---
Language: Cpp
BasedOnStyle: Microsoft
AccessModifierOffset: -4
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackParameters: false
BreakBeforeBraces: Allman
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentCaseLabels: true
IndentWidth: 4
NamespaceIndentation: All
# FIXME: Uncomment this when CI supports a newer version of clang-format
# OneLineFormatOffRegex: '^(// NOLINTNEXTLINE\(clang-format\)): .+$'
PointerAlignment: Left
SortIncludes: true
SortUsingDeclarations: true
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
Standard: c++17
FixNamespaceComments: 'false'
...
