# Audio
/include/NovelRT/Audio/      @capnkenny
/src/NovelRT/Audio/          @capnkenny

# CMake related changes
**/CMakeLists.txt            @FiniteReality
**/*.cmake                   @FiniteReality
/cmake/                      @FiniteReality

# devops related stuff
/.github/workflows/          @FiniteReality @tannergooding
/scripts/                    @FiniteReality @tannergooding

# Ecs
/include/NovelRT/Ecs/        @RubyNova
/src/NovelRT/Ecs/            @RubyNova

# Graphics
/include/NovelRT/Graphics/   @RubyNova @tannergooding
/src/NovelRT/Graphics/       @RubyNova @tannergooding

# Maths
/include/NovelRT/Maths/      @RubyNova @tannergooding
/src/NovelRT/Maths/          @RubyNova @tannergooding

# Timing
/include/NovelRT/Timing/     @RubyNova @tannergooding
/src/NovelRT/Timing/         @RubyNova @tannergooding

# Utilities
/include/NovelRT/Utilities/  @RubyNova @tannergooding @capnkenny
/src/NovelRT/Utilities/      @RubyNova @tannergooding @capnkenny

# Windowing
/include/NovelRT/Windowing/  @RubyNova @tannergooding

# NovelRT.Interop
/include/NovelRT.Interop/    @RubyNova @capnkenny
/src/NovelRT.Interop/        @RubyNova @capnkenny
